@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
}
all {
  width: 1835px;
}
body {
  color: #11053b;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 59px;
  margin: 20px;
}
.deuxblocs {
  display: flex;
}

.liste {
  width: 1055px;
  margin: 20px;
}

.blocdroite {
  width: 735px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  font-size: 20px;
  float: inline-end;
  font-family: "Inter", sans-serif;
}

ul,
ui {
  list-style-type: none;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.espace {
  padding: 15px;
}
.espace2 {
  padding: 15px;
  padding-right: 0px;
}
.border {
  background-color: #ffd400;
  border: solid 1.75px #11053b;
  border-radius: 5px;
}
hr {
  height: 1px;
  border: none;
  color: red;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .vide {
  width: 380px;
} */
